body {
  /* margin: auto; */
  /* width: 480px; */
  /* width: 100%; */
  grid-template-columns: 5% 90% 5%;
  display: grid;
}

main {
  grid-column-start: 2;
  display: grid;
  /* grid-template-rows: repeat(2,50%); */
  grid-template-columns: repeat(2,50%);
  grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
}


#a, #b, #c, #d, #i {
  /* width: 90%; */
  grid-column-start: span 2;
}

#e, #f, #g, #h {
  /* width: 50%; */
  /* float: left; */
}

#g, #i {
  /* clear: both; */
}

#a {
  /* height: 75px; */
}

#b {
  /* height: 150px; */
}

#c, #d {
  /* height: 125px; */
}

#e, #f, #g, #h {
  /* height: 250px; */
}

#i {
  /* height: 80px; */
}

@media only screen and (min-width:768px){
  body {
    /* width: 960px; */
    width: 100%;
    grid-template-columns: 5% 90% 5%;
  }

  main {
    grid-column-start: 2;
  }

  #a {
    width: 960px;
    height: 100px;
  }

  #b {
    width: 200px;
    height: 600px;
    /* float: left; */
  }

  #c, #d {
    width: 380px;
    height: 200px;
    /* float: left; */
  }

  #e, #f, #g, #h {
    width: 190px;
    height: 250px;
    /* float: left; */
  }

  #i {
    width: 760px;
    height: 150px;
  }

  #c, #g, #i {
    /* clear: none; */
  } 
}